.box .info {
        border-color:#2196f3;
        margin-left:30%;
        height:0;
        overflow-y:hidden;
        transition:0.4s;
        font-size:4vh;
  }
.popup {
  background-color:#2196f3;
  height:20vh;
  width:100vh;
  margin-left:25%;
  margin-right:10%;
  font-size:6vh;
  text-align:center;
  border-radius:25px;
  position: relative;
  transition:0.4s;
}
.popup span {
  transition:0.4s;
  opacity:0;
}
.box:hover .popup {
  height:36vh;
  background-color:#249fff;
}
.box:hover .popup span {
  transform:translateX(-30px);
  opacity:1;
 }
 .box:hover .info {
   height:65vh;
 }
 .btn {
   margin-left:35%; 
   border-radius:25px;
 }
