#name {margin-left:5%;}
#code {margin-left:1.5%;width:42.4vh;}
#tgu {margin-left:0.7%;width:40vh;}
#kv {margin-left:1.3%;width:32vh;}
#link {margin-left:1.1%;height:5vh;width:31vh;}
#ver {margin-left:1.2%;width:48vh;}
.req_ele {
	font-size:5vh;
	text-align:center;
}
