* {
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  tap-highlight-color:transparent;
  -moz-tap-hightlight-color:transparent;
        -webkit-tap-highlight-color:transparent;
    }

.container {
  display: inline-block;
  cursor: pointer;
}
.prof {
  width:25vh;
  margin:auto;
  margin-top:1.5vh;
  margin-left:2.4vh;
  margin-right:2vh;
  border-radius:50%;
}
.footer {
	color:white;
	background-color:black;
	text-align:center;
	margin-left:-10px;
	font-size:40px
}
.prof_div {
  margin-top:0.6vh;
  margin-bottom:1vh;
  text-align:center;
  margin-right:10vh;
  margin-left:10vh;
  width:40vh;
  height:45vh;
}
.prof_div b {
	font-size:20px;
}
.prof_div #name {
	font-size:30px;
}
.err_txt {
	font-size:3.5vh;
}
.err {
      font-size:15vh;
      transition:0.4s;
 }
.containcrds {
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        display: flex;
        overflow-x:auto;
        scroll-snap-type: x mandatory;
        position:relative;
        height:50vh;
}
.containcrds::-webkit-scrollbar { width: 0 !important }
td {
  text-align:center;
  font-size:22px;
  border:2.4px solid White;
}
table {
  width:430px;
  margin-left:3pt;
  font-size:20px;
}
body {
  overflow-x:hidden;
  height:100%;
  width:100%;
  background-color:Black;
  color:White;
  transition:0.5s;
}
.null {
  text-align:center;
  font-size:100px;
  color:Black;
}
#ico {
  font-size:25vh;
  margin-left:30%;
  color:#2196f3;
}
.head {
  font-size:205%;
}
h1 {
  text-align:center;
  font-size:9vh;
}
img {
  margin-left:10%;
  width:80%;
  border-radius:50%;
}
.bar-left1 {
  margin-top:10%;
  margin-left:42%;
  transform:rotate(45deg);
}
.alert {
  color:#ff0000;
  width:25vh;
  height:8vh;
  margin-left:22%;
  margin-bottom:10%;
  text-align:center;
  font-size:2vh;
  transition:0.4s;
}
.btn {
  text-align:center;
  font-size:2vh;
  height:12vh;
  width:12vh;
  background-color:#2196f6;
  margin-left:35%;
}
.bar-right1 {
  margin-top:-1.7%;
  margin-left:49.5%;
  transform:rotate(-45deg);
}
.bar-left2 {
  margin-top:10%;
  margin-left:42%;
  transform:rotate(45deg);
}
.bar-right2 {
  margin-top:-1.7%;
  margin-left:49.5%;
  transform:rotate(-45deg);
}
.bar {
  background-color:White;
  height:0.9%;
  width:12%;
  animation:bar-anim 2s infinite;
}
@keyframes bar-anim {
  0% {
	transform:translateY(-100px);
	opacity:0;
  }
  50% {
	opacity:1;
  }
  100% {
	opacity:0;
  }
}
-webkit-@keyframes bar-anim {
  0% {
        transform:translateY(-100px);
        opacity:0;
  }
  50% {
        opacity:1;
  }
  100% {
        opacity:0;
  }
}
-moz-@keyframes bar-anim {
  0% {
        transform:translateY(-100px);
        opacity:0;
  }
  50% {
        opacity:1;
  }
  100% {
        opacity:0;
  }
}
