<html>
  <head>
  <title>How To Install | NetErnels</title>
  <meta content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" name="viewport">
  {% if request.MOBILE %}
  	<link rel="stylesheet" href="{{ url_for('static',filename='css/mobile/menu.css')}}">
  	<link rel="stylesheet" href="{{ url_for('static',filename='css/mobile/sidebar.css')}}">
  	<link rel="stylesheet" href="{{ url_for('static',filename='css/mobile/style.css')}}">
  	<link rel="stylesheet" href="{{ url_for('static',filename='css/mobile/slider.css')}}">
  	
  {% else %}
 	<link rel="stylesheet" href="{{ url_for('static',filename='css/desktop/menu.css')}}">
  	<link rel="stylesheet" href="{{ url_for('static',filename='css/desktop/sidebar.css')}}">
  	<link rel="stylesheet" href="{{ url_for('static',filename='css/desktop/style.css')}}">
  	<link rel="stylesheet" href="{{ url_for('static',filename='css/desktop/slider.css')}}">
  {% endif %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body id="index">
    <style>
      img {
      	border-radius:0px;
      	}
          </style>
          <div id="mySidebar" class="sidebar">
        <a onclick="window.open('/','_self');">Home</a>
          <a onclick="window.open('/download','_self');">Downloads</a>
          <a onclick="window.open('/kernel','_self');">Kernel Request</a>
          <a onclick="window.open('/howto','_self');">How to Install</a>
        </div>
        <br>
        <div style="margin-right:6%;text-align:right">
        <div class="container" onclick="myFunction(this)">
          <div id="bar1" class="bar1"></div>
          <div id="bar2" class="bar2"></div>
          <div id="bar3"  class="bar3"></div>
        </div>
        </div>
    <h1>NetErnels</h1>
    <div id="howto">
    <br>
	  <div>
	Here We are showing a tutorial on how to install 
	a NetErnels Kernel On your phone with TWRP.
	  </div>
	<br><br>
	<div>
	  In this tutorial we use the kernel designed 
	  for device with codename <i style="color:#2196f3">"gucci"</i>.
	</div>
	  <br><br>
	  <div>
	  1.First You need to download the gucci kernel which is available on our 
	<a style="text-decoration:none;color:#2196f3" onclick="window.open('/download','_self');">Download</a> page.<br>
	<br>Then you need to boot into your your Recovery Mode.
	  Any Recovery such as TWRP or OrangeFox will do the work.<br>
	  <br> Here we use TWRP in this tutorial.<br><br>
	  Now as you boot into TWRP, you will see an interface as given below.
	  </div>
	  <br><br>
	  <div>
	<img src="{{ url_for('static',filename='media/img1.jpg')}}">
	  </div>
	  <br><br><br>
	  <div >
		Now you need to select our kernel.We recommend you 
		to put it in your /sdcard directory so it will be easy for you to find 
	  </div>
		<br><br>
		<div>
	<img src="{{ url_for('static',filename='media/img2.jpg')}}"><br><br>
		</div>
		<div>
	Now click on the zip file you have downloaded earlier, and you will see 
	a screen like this.Please do not enable the "Zip Signature Verification"
	as it may say an invalid file and thus may not install the kernel.Now swipe 
		  the button at bottom to flash.</div><br><br>
	<div><img src="{{ url_for('static',filename='media/img3.jpg')}}"></div><br><br>
	<div>As soon as you swipe, you will see our logo and the installer installing 
	  our kernel.Wait for the process to complete.</div><br><br>
	<div><img src="{{ url_for('static',filename='media/img4.jpg')}}"></div><br><br>
	<div>And when it completed you will be presented with a screen like this.
	  And then reboot the system.</div><br><br>
	<div><img src="{{ url_for('static',filename='media/img5.jpg')}}"></div><br><br>
	</div>
	<br><br><br><br>
	  <div class="swi_con">
          Dark&ensp;<label class="switch"><input id="darrk" onclick=dark_switch() type="checkbox">
                <span class="slider round"></span>
          </label>&ensp;Light
        </div>
	<br><br><br><br>
        <div class="footer">
                <br><br>&emsp;&emsp;<i class="fa fa-telegram" onclick="window.open('https://t.me/neternels_chat');"></i>&emsp;&emsp;
                <i class="fa fa-gitlab" onclick="window.open('https://www.gitlab.com/neternels');"></i>&emsp;&emsp;
                <i class="fa fa-github" onclick="window.open('https://www.github.com/neternels');"></i>&emsp;&emsp;
                <br><br>
          </div>
  </body>
  <script>
  var i=0;
function myFunction(x) {
  i=i+1;
  if (i%2 != 0) {
        document.getElementById("mySidebar").style.width = "150px";
        document.getElementById("bar1").style.transform="rotate(-45deg) translate(-9px, 6px)";
        document.getElementById("bar2").style.transform="translateX(-150px)";
        document.getElementById("bar2").style.opacity="0";
        document.getElementById("bar3").style.transform="rotate(45deg) translate(-8px, -8px)";
  } else {
        document.getElementById("mySidebar").style.width = "0px";
        document.getElementById("bar1").style.transform="rotate(0deg) translate(0px, 0px)";
        document.getElementById("bar2").style.transform="translateX(0px)";
        document.getElementById("bar2").style.opacity="1";
        document.getElementById("bar3").style.transform="rotate(0deg) translate(0px, 0px)";

  }

  }
  </script>
  <script>
var local=window.localStorage;
function dark(n) {
        if (n%2==0) {
                document.getElementById("mySidebar").style.backgroundColor="ffffff";
                document.querySelectorAll("a")[0].style.color="000";
                document.querySelectorAll("a")[1].style.color="000";
                document.querySelectorAll("a")[2].style.color="000";
                document.querySelectorAll("a")[3].style.color="000";
                document.getElementById("darrk").checked=false;
                document.body.style.backgroundColor="000000";
                document.getElementById("index").style.color="ffffff";
                document.getElementById("bar1").style.backgroundColor="ffffff";
                document.getElementById("bar2").style.backgroundColor="ffffff";
                document.getElementById("bar3").style.backgroundColor="ffffff";
                local.removeItem("theme");
                local.setItem("theme","dark");
        } else {
                document.getElementById("mySidebar").style.backgroundColor="000000";
                document.querySelectorAll("a")[0].style.color="ffffff";
                document.querySelectorAll("a")[1].style.color="ffffff";
                document.querySelectorAll("a")[2].style.color="ffffff";
                document.querySelectorAll("a")[3].style.color="ffffff";
                document.getElementById("darrk").checked=true;
                document.body.style.backgroundColor="ffffff";
                document.getElementById("index").style.color="000000";
                document.getElementById("bar1").style.backgroundColor="000000";
                document.getElementById("bar2").style.backgroundColor="000000";
                document.getElementById("bar3").style.backgroundColor="000000";
                local.removeItem("theme");
                local.setItem("theme","light");
        }
}
function dark_switch() {
        i=i+1;
        dark(i);
}
function dark_check() {
        var theme=local.getItem("theme");
        if (theme=="dark") {
                dark(2);
        } else {
                dark(1);
        }
}
window.onload=function() {dark_check()};
  </script>
</html>
