<html>
  <head>
        <title>Request  | NetErnels</title>
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1" name="viewport">
        {% if request.MOBILE %}
                <link rel="stylesheet" href="{{ url_for('static',filename='css/mobile/sidebar.css')}}">
                <link rel="stylesheet" href="{{ url_for('static',filename='css/mobile/style.css')}}">
                <link rel="stylesheet" href="{{ url_for('static',filename='css/mobile/slider.css')}}">
                <link rel="stylesheet" href="{{ url_for('static',filename='css/mobile/menu.css')}}">
                <link href="//cdn.jsdelivr.net/gh/Lukas-W/font-logos@v0.16/assets/font-logos.css" rel="stylesheet">
        {% else %}
                <link rel="stylesheet" href="{{ url_for('static',filename='css/desktop/menu.css')}}">
                <link rel="stylesheet" href="{{ url_for('static',filename='css/mobile/sidebar.css')}}">
                <link rel="stylesheet" href="{{ url_for('static',filename='css/desktop/slider.css')}}">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/desktop/style.css')}}">
                <link href="//cdn.jsdelivr.net/gh/Lukas-W/font-logos@v0.16/assets/font-logos.css" rel="stylesheet">
        {% endif %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
    <body id="index" style="font-size:3vh">
        <style>
        * {
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  tap-highlight-color:transparent;
  -moz-tap-hightlight-color:transparent;
        -webkit-tap-highlight-color:transparent;
    }
    .sidebar a:hover {
  background-color:#2196f3;
  color:inherit;
 }
</style>
<div id="mySidebar" class="sidebar">
          <a onclick="window.open('/','_self');">Home</a>
          <a onclick="window.open('/download','_self');">Downloads</a>
          <a onclick="window.open('/kernel','_self');">Kernel Request</a>
          <a onclick="window.open('/howto','_self');">How to Install</a>
        </div>
        <br>
        <div style="margin-right:6%;text-align:right">
        <div class="container" onclick="myFunction(this)">
          <div id="bar1" class="bar1"></div>
          <div id="bar2" class="bar2"></div>
          <div id="bar3"  class="bar3"></div>
        </div>
        </div>
<h1>NetErnels</h1>
<br><br>
<div>
	{% if outp=="dev_True" %}
		<div id="msg"> The currently requested device &nbsp; is already compiled
		by the developers.Please do check with our download page.</div>
	{% elif outp=="req_True" %}
		<div id="msg"> The requested device is also being requested by
		other users and our developers are working on it.Please
		be in touch with us ,we will release a kernel 
		for it soon</div>
	{% else %}
		<div id="msg">Your request for the device has being sent to our developers 
		we will start working on it soon and will notify you
		when the device is ready.</div>
	{% endif %}
</div>
<br><br><br><br>
  <div class="swi_con">

          Dark&ensp;<label class="switch"><input id="darrk" onclick=dark_switch() type="checkbox">
                <span class="slider round"></span>
          </label>&ensp;Light
        </div>
        <br><br><br><br>
<div class="footer">
                <br><br>&emsp;&emsp;<i class="fa fa-telegram" onclick="window.open('https://t.me/neternels_chat');"></i>&emsp;&emsp;
                <i class="fa fa-gitlab" onclick="window.open('https://www.gitlab.com/neternels');"></i>&emsp;&emsp;
                <i class="fa fa-github" onclick="window.open('https://www.github.com/neternels');"></i>&emsp;&emsp;
                <br><br>
        </div>
</body>
<script>
var i=0;
function myFunction(x) {
  i=i+1;
  if (i%2 != 0) {
        document.getElementById("mySidebar").style.width = "150px";
        document.getElementById("bar1").style.transform="rotate(-45deg) translate(-9px,6px)";
        document.getElementById("bar2").style.transform="translateX(-150px)";
        document.getElementById("bar2").style.opacity="0";
        document.getElementById("bar3").style.transform="rotate(45deg) translate(-8px,-8px)";
  } else {
        document.getElementById("mySidebar").style.width = "0px";
        document.getElementById("bar1").style.transform="rotate(0deg) translate(0px,0px)";
        document.getElementById("bar2").style.transform="translateX(0px)";
        document.getElementById("bar2").style.opacity="1";
        document.getElementById("bar3").style.transform="rotate(0deg) translate(0px,0px)";

  }

  }
</script>
<script>
var load=window.localStorage;
function dark(n) {
        if (n%2==0) {
                document.getElementById("mySidebar").style.backgroundColor="fff";
                document.querySelectorAll("a")[0].style.color="000";
                document.querySelectorAll("a")[1].style.color="000";
                document.querySelectorAll("a")[2].style.color="000";
                document.querySelectorAll("a")[3].style.color="000";
                document.getElementById("darrk").checked=false;
                document.body.style.backgroundColor="000000";
                document.getElementById("index").style.color="ffffff";
                document.getElementById("bar1").style.backgroundColor="fff";
                document.getElementById("bar2").style.backgroundColor="fff";
                document.getElementById("bar3").style.backgroundColor="fff";
                local.removeItem("theme");
                local.setItem("theme","dark");
        } else {
                document.getElementById("mySidebar").style.backgroundColor="000";
                document.querySelectorAll("a")[0].style.color="ffffff";
                document.querySelectorAll("a")[1].style.color="ffffff";
                document.querySelectorAll("a")[2].style.color="ffffff";
                document.querySelectorAll("a")[3].style.color="ffffff";
                document.getElementById("darrk").checked=true;
                document.body.style.backgroundColor="ffffff";
                document.getElementById("index").style.color="000000";
                document.getElementById("bar1").style.backgroundColor="000";
                document.getElementById("bar2").style.backgroundColor="000";
                document.getElementById("bar3").style.backgroundColor="000";
                local.removeItem("theme");
                local.setItem("theme","light");
        }
}
function dark_switch() {
        i=i+1;
        dark(i);
}
function dark_check() {
        var theme=local.getItem("theme");
        if (theme=="dark") {
                dark(2);
        } else {
                dark(1);
        }
}
window.onload=function() {dark_check()};
</script>
</html>
